<nav class="user-navigation navbar navbar-expand-md fixed-top navbar-dark">
	<a class="navbar-brand"></a>
	<button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse offcanvas-collapse">
		<div class = "mr-auto"></div>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" id = "item-sobre">Sobre</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id = "item-ajuda">Ajuda</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id = "item-logout">Sair</a>
			</li>
		</ul>
	</div>
</nav>
