  <div class = "auth">

    <div class = "text-center">

      <div class = "form-signin">
        
        <div class = "login" [hidden] = "!getCurrentRoute('login')">

          <h1 class = "title">MyBreakFaster</h1>
          
          <form [formGroup] = "loginUserForm" (ngSubmit)="login()">
          
            <input type = "email" formControlName = "email" class = "form-control" placeholder = "Digite o seu e-mail">

            <br>
            
            <input type = "password" formControlName = "password" class = "form-control" placeholder = "Digite a sua senha">
            
            <br>
            
            <input type = "submit" class = "btn btn-danger btn-block" value = "Acessar">
          </form>
          
          <br>
          <a [routerLink]="['/auth/create-account']" style = "color: red">Criar conta</a>	
          
        </div>
        
        <div class = "create-account" [hidden] = "!getCurrentRoute('create-account')">
          
          <h2 class = "title">Crie sua conta</h2>

          <form [formGroup] = "createUserForm" (ngSubmit)="createUser()">

            <input type = "text"  formControlName="name" class="form-control" placeholder = "Digite o seu nome">
            
            <br>

            <select formControlName="type" class="form-control">
              <option value = "STORE" selected>Estabelecimento</option>
              <option value = "CLIENT">Usuário</option>
            </select>

            <br>

            <input formControlName="register" type = "text" class="form-control" placeholder = "Digite o seu CPF ou CNPJ">

            <br>

            <input formControlName="email" type = "text" class="form-control" placeholder = "Digite o seu email">
            
            <br>
            
            <input formControlName="password" type = "password" class = "form-control" placeholder = "Digite a sua senha">
            
            <br>
            
            <input type = "password" class = "form-control" placeholder = "Confirme sua senha">			
            
            <br>

            <input formControlName="phoneNumber" type = "number" class="form-control" placeholder = "Telefone">

            <br>
            
            <input type = "submit" class = "btn btn-danger btn-block" value = "Criar">
          </form>
          <br>
          <a [routerLink]="['/auth/login']" style = "color: red">Cancelar</a>        
        </div>
      
        <p class = "copyright mt-5 mb-3 text-muted">© MyBreakFaster {{currentYear}}</p>			
      </div>

    </div>
  </div>
