<ion-content>
  <ion-list>

    <div *ngFor="let establishment of getEstablishments()" 
    class="search-results ml-3 mr-3 my-3 p-3 bg-white rounded shadow-sm">
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">{{establishment.name}}</strong>
        </p>
        <span *ngIf = "establishment.averageRating">
          {{establishment.averageRating}}
          <img src = "assets/image/rate.svg">

        </span>
      </div>
      <div class = "d-flex justify-content-between">
        <p class="media-body mt-3 pb-3 mb-0 small lh-125">
          Telefone: {{establishment.phoneNumber}}
        </p>
        <p class="media-body mt-3 pb-3 mb-0 small lh-125">
          Rua: {{handleAddress(establishment.addresses).street}}
        </p>
      </div>
      
      <div class = "d-flex justify-content-between">
        <p class="media-body pb-3 mb-0 small lh-125">
          Bairro: {{handleAddress(establishment.addresses).neighborhood}}
        </p>
        <p class="media-body pb-3 mb-0 small lh-125">
          Número: {{handleAddress(establishment.addresses).number}}
        </p>
      </div>
      <small class="d-block text-right mt-3">
        <a (click) = "openEstablishment(establishment)" style = "color:blue">Abrir</a>
      </small>
    </div>

  </ion-list>
 
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Arraste para atualizar"
    refreshingSpinner="circles"
    refreshingText="Refreshing..."></ion-refresher-content>
    
  </ion-refresher>

</ion-content>
