<div class="nav-scroller bg-white box-shadow">
	
	<nav class="nav nav-underline" *ngIf = "!(userType$ | async); else client">
		<a [routerLink]="['/dashboard/establishment']" [routerLinkActive]="['active']" class="nav-link">
			<img class = "image-icon" src = "./assets/image/restaurant.svg">
			Restaurantes
		</a>
		<a [routerLink]="['/dashboard/my-orders-client']" [routerLinkActive]="['active']" class="nav-link">
			<img class = "image-icon" src = "./assets/image/order.svg">
			Meus pedidos
		</a>
	</nav>

	<ng-template #client>
		<nav class="nav nav-underline" *ngIf = "userType$ | async">
			<a [routerLink]="['/dashboard/my-products']" [routerLinkActive]="['active']" class="nav-link" *ngIf = "userType$ | async">
				<img class = "image-icon" src = "./assets/image/products.svg">
				Meus Produtos
			</a>

			<a [routerLink]="['/dashboard/promotions']" [routerLinkActive]="['active']" class="nav-link" *ngIf = "userType$ | async">
				<img class = "image-icon" src = "./assets/image/promotion.svg">
				Promoções
			</a>

		</nav>
	</ng-template>
</div>